h1{
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
h2{
    font-weight: 200;
    color: chocolate;
    text-align: center;
}

body{
    background-color: #f7f7f7;
    
}